[Unit]
Description=Tailscale AppIndicator
After=graphical-session.target
Requires=graphical-session.target

[Service]
ExecStart=/usr/bin/tailscale-appindicator
Restart=on-failure
SyslogIdentifier=tailscale-appindicator

[Install]
WantedBy=graphical-session.target
